#user-signup-wrapper{
  width: 900px;
  margin: 0 auto;
}

#signup-area{
  margin: 30px auto 60px;
}

.signup-title{
  font-size: 30px;
  color: rgb(131, 131, 131);
}

.contents {
  padding: 10px 30px ;
}

.contents-title-area{
  padding-bottom: 20px;
}

.contents-title{
  font-weight: 300;
}

#check-list-title{
  height: 30px;
  width: 100%;
  background-color: #eee;
  border: 1px solid #000
}
#check-list-description{
  height: 100px;
  width: 100%;
  border: 0 1px 1px 1px  solid #000;
}

/* -------------共通化-------------*/
.full-width{
  width: 600px;
}

/* -------------Company-Name-area-------------*/
.company-name-area{
  display: flex;
  border-top: 1px solid #ddd;
}

.company-name-title{
  line-height: 75px;
  width: 140px;
}

#company-name-form{
  padding: 9.5px;
}

/* -------------Address-area-------------*/
.postcode-area{
  display: flex;
  border-top: 1px solid #ddd;
}

#postcode-form{
  padding: 9.5px;
}

#psotcode-container{
  margin: 8px;
}

#address-auto-input-interface{
  margin: 2px 150px 2px 8px;
}

.address-title{
  margin: 0 ;
  width: 140px;
  line-height: 183px;
}

#address-form{
  padding: 0 9.5px 9.5px;
}

#address-auto-input {
  display: flex;
  padding: 9.5px;
  margin: 0 8px 8px 8px;
  border-bottom: 1px solid #eee;
}

#address-prefectures-input {
  margin-right: 10px;
}

/* -------------PhoneNumber-area-------------*/
.phone-number-area{
  display: flex;
  border-top: 1px solid #ddd;
}

.phone-number-title{
  line-height: 181px;
  width: 140px;
}

#phone-number-form{
  padding: 9.5px;
}

#phone-number-input{
  width: 400px;
}

/* -------------Name-area-------------*/
.name-area{
  display: flex;
  border-top: 1px solid #ddd;
}

.name-title{
  line-height: 56px;
  padding-top: 9.5px;
  width: 140px;
}

#name-form{
  padding: 9.5px 9.5px 0;
}

  /* -------------Name-Kana-area-------------*/
.name-kana-area{
  display: flex;
}

.name-kana-title{
  line-height: 56px;
  width: 140px;
}

#name-kana-form{
  padding: 0 9.5px 9.5px;
}

  /* -------------Mail-area-------------
/* .mail-area{
  display: flex;
  border-top: 1px solid #ddd;
}

.mail-title-area{
  width: 200px;
  line-height: 90px;
}

.mail-title{
  height: 20px;
}

.mail-subtitle{
  height: 15px;
}

#mail-form{
  padding: 9.5px;
}

#mail-input{
  width: 604px;
} */

/* -------------Button-area-------------*/
#signup-btn-area{
  padding-bottom: 40px;
}

#user-register-btn{
  display: inline-block;
  width: 300px;
  margin: 0 auto;
}