#user-signup-wrapper{
  width: 900px;
  margin: 0 auto;
}

#signup-area{
  margin: 30px auto 60px;
}

.signup-title{
  font-size: 30px;
  color: rgb(131, 131, 131);
}

/* -------------Address-area-------------*/
#address-auto-input-interface{
  margin: 2px 150px 2px 8px;
}

.mailing-address{
  padding: 8px 0 8px 220px;
}

/* -------------Button-area-------------*/
#signup-btn-area{
  padding-bottom: 40px;
}

#user-register-btn{
  display: inline-block;
  width: 300px;
  margin: 0 auto;
}