*{
  box-sizing: border-box;
}

#user-signup-wrapper{
  width: 900px;
  margin: 0 auto;
}

.signup-title{
  font-size: 30px;
  color: rgb(131, 131, 131);
}

/* .contents {
} */

/*------------------ gender-select-area -----------------*/
.gender-area{
  display: flex;
  border-top: 1px solid #ddd;
  height: 90px;
}

.gender-title{
  line-height: 90px;
  margin: 0 ;
  width: 200px;
}

/* -------------Birthday-area-------------*/
.birthday-area{
display: flex;
border-top: 1px solid #ddd;
}

.birthday-title{
  line-height: 90px;
  margin: 0 ;
  width: 200px;
}

#birthday-form{
  padding: 9.5px;
}