*{
  box-sizing: border-box;
}

h4{
  margin: 0;
}

p{
  margin: 0;
}

#user-signup-wrapper{
  width: 900px;
  margin: 0 auto;
}

.signup-title{
  font-size: 30px;
  color: rgb(131, 131, 131);
}

/* .contents {
} */

/*------------------ gender-select-area -----------------*/
.gender-area{
  display: flex;
  border-top: 1px solid #ddd;
  height: 90px;
}

.gender-title{
  line-height: 90px;
  margin: 0 ;
  width: 200px;
}

/* -------------Birthday-area-------------*/
.birthday-area{
display: flex;
border-top: 1px solid #ddd;
}

.birthday-title{
  line-height: 90px;
  margin: 0 ;
  width: 200px;
}

#birthday-form{
  padding: 9.5px;
}

/* -------------Address-area-------------*/
.address-area{
  display: flex;
  border-top: 1px solid #ddd;
}

.address-title{
  line-height: 163px;
  margin: 0 ;
  width: 200px;
}

#address-form{
  padding: 9.5px;
}

#post-code-search-interface{
  margin-left: 290px;
  margin-top: 15px;
}

#address-input{
  width: 604px;
}

/* -------------Mail-area-------------*/
.mail-area{
  display: flex;
  border-top: 1px solid #ddd;
  }

.mail-title-area{
  margin: 0 ;
  width: 200px;
  line-height: 90px;
}

.mail-title{
  height: 20px;
}

.mail-subtitle{
  height: 15px;
}

#mail-form{
  padding: 9.5px;
}

#mail-input{
  width: 604px;
}

/* -------------PassWord-area-------------*/
.password-area{
  display: flex;
  border-top: 1px solid #ddd;
}

.password-title{
  line-height: 90px;
  margin: 0 ;
  width: 200px;
}

#password-form{
  padding: 9.5px;
}

#password-input{
  width: 400px;
}