/* ------------------全体のレイアウト------------------ */
.main-contents {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  margin: 20px 0;
}

span {
  color: red;
}

textarea:focus, select:focus {
  outline: rgb(29, 161, 242) solid 1px;
}

/* ------------------listing_image.js------------------ */
.listing-image-area, .listing-item-area, .listing-button-area {
  border-top: solid 1px #eee;
  padding: 20px 0;
}

h3, label {
  font-size: 18px;
  font-weight: bold;
}

/* ①出品画像 */
.image-upload-area {
  width: 800px;
  height: 300px;
  margin: 15px 0 20px 0;
  background: #f5f5f5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------listing_item.js------------------ */
/* ②商品名 */
textarea, select {
  display: block;
  width: 800px;
  height: 50px;
  margin: 10px 0 30px 0;
  background: #f5f5f5;
  border-radius: 4px;
  border: none;
  line-height: 50px;
  padding: 0 0 0 15px;
}

/* ③商品の説明 */
.textarea-description {
  height: 200px;
}

/* ------------------listing_status.js------------------ */
/* ④カテゴリー */
select {
  width: 600px;
}

/* ------------------sellingPrice.js------------------ */
/* ⑩価格・販売手数料 */
.input-price-area {
  width: 180px;
}
.sales-fee-area {
  display: flex;
  width: 600px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  padding: 15px 0;
  margin: 15px 0;
}

/* ------------------sellingButton.js------------------ */
/* ⑫出品ボタン・⑬もどるボタン */
.listing-button-area {
  height: 300px;
}

.selling-button-area {
  margin: 15px 0 25px 0;
}

.selling-button {
  width: 600px;
}

.return-button {
  width: 300px;
}

Button > span {
  font-weight: bold;
  color: white;
}